@import "@/styles/variables.module.scss";

.completeRequestBodyWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;

    .completeRequestBodyList {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        margin-left: 0.63rem;
        
        @media screen and ($pad640_991) {
            row-gap: 1rem;
        }

        @media screen and ($phone375_639) {
            margin: 0;
        }

        .completeRequestBodyItem {
            display: flex;
            column-gap: 5px;

            @media screen and ($phone375_639) {
                // flex-direction: column;
                flex-wrap: wrap;
                row-gap: 5px;
                
                &> p:last-child {
                    margin-left: 0.63rem;
                }
            }
        }
    }
}