@import "@/styles/variables.module.scss";

.filesListWrapper,
.filesListEmptyWrapper {
	width: inherit;
	height: inherit;
	border-radius: $border_radius;
	border: $black_input_border;
	background-color: $white;
	display: grid;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
}

.filesListWrapper {
	grid-template-columns: 22px 1fr 22px;
	//justify-items: center;

	.arrowForListRight,
	.arrowForListLeft {
		//padding: 0 5px;
	}

	.arrowForListRight {
		transform: rotate(180deg);
	}

	.arrowForListLeft {

	}

	.listArrowItem {
		display: flex;
		justify-content: center;
	}

	.filesListWithoutScroll {
		width: 100%;
		height: 100%;

		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		align-items: center;

		.filesList {
			width: 100%;
			height: 100%;

			display: grid;
			align-items: center;
			grid-template-rows: 1fr;

			@media screen and ($desktop1920) {
				//padding: 0 0.94rem;
				column-gap: 1.13rem;
			}

			@media screen and ($desktop1440_1919),
			screen and ($desktop1280_1439) {
				//padding: 0 0.63rem;
				column-gap: 1.12rem;
			}

			align-content: center;
			overflow-x: hidden;
			overflow-y: hidden;
			box-sizing: border-box;

			text-align: center;

			&::-webkit-scrollbar {
				height: 0;
				width: 8px;
				border: 1px solid #fff;
			}

			&::-webkit-scrollbar-track {
				border-radius: 0;
				background: #eeeeee;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 0;
				background: #b0b0b0;
			}

			-ms-overflow-style: none;
		}

		.horizontalScrollWrapper {
			position: relative;
			background-color: $cold_white;
			width: 100%;
			height: 5px;
			border-radius: $border_radius;


			.horizontalScroll {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

				cursor: pointer;

				height: 5px;
				background-color: $black;
				border-radius: $border_radius;
			}
		}
	}

	.filesListAndScroll {
		grid-template-rows: 1fr 17px;

		.filesList {
			align-items: end;
		}
	}


}