@import "@/styles/variables.module.scss";

.inputWrapper {
	position: relative;
	overflow: visible;

	width: inherit;
}


.helpfulList {
	padding: 5px 10px;
	background-color: $white;
	border: $black_input_border;
	border-radius: $border_radius;
	box-sizing: border-box;

	width: auto;
	height: auto;
	overflow-y: auto;

	position: absolute;
	z-index: 2;

	//top: 0;
	left: 0;
	margin-top: 5px;

	display: flex;
	flex-direction: column;
	row-gap: 10px;

	// width: %;

	.helpfulItem {
		cursor: pointer;
		width: 100%;
		padding: 5px 10px;
	}
}