@import "@/styles/variables.module";

.photoEditorWrapper {
	width: 67.625rem;
	height: 43.375rem;
	border-radius: $border_radius;
	background-color: $white_1;
	overflow: hidden;

	padding: 2.5rem 4.38rem;

	.photoEditor {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;

		.photoEditorTitle {
			text-align: center;
		}

		.photoEditorButtons {
			display: grid;
			grid-template-columns: repeat(2, 13.125rem);
			column-gap: 3.56rem;
			justify-content: center;
		}
	}
}