@import "@/styles/variables.module";

.photoEditorWrapper {
	//width: 67.625rem;
	//height: 43.375rem;

	width: 78.6875rem;
	height: 51.25rem;

	border-radius: $border_radius;
	background-color: $white_1;
	overflow: hidden;

	padding: 2.5rem 4.38rem;

	.photoEditor {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;

		.photoEditorTitle {
			text-align: center;
		}
	}
}