@import "@/styles/variables.module.scss";

.scaleWrapper {
	.scaleSliderTicks {
		position: relative;

		span {
			position: absolute;
			transform: translateX(-50%);
			cursor: pointer;
			top: 8px;

			display: flex;
			justify-content: center;

			&:before {
				position: absolute;
				content: "";

				top: -8px;

				width: 1px;
				height: 5px;
				background: $grey;
			}
		}

		//justify-content: space-between;
		//padding: 0 5px;
	}
}