@import "@/styles/variables.module";

.inputBorder, .inputError, .inputConfirm {
    position: absolute;
    z-index: 1;
    
    box-sizing: border-box;
    
    background-color: $white;
    border-radius: inherit;
    
    top: 0;
    left: 0;
    transition: opacity .3s, background-color .5s ease;
    overflow: hidden;
    
    width: inherit;
    height: inherit;
}

.inactiveInputState {
    position: absolute;
    z-index: 2;
    
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    
    background-color: $white_1;
    opacity: $input_opacity;
    border-radius: inherit;
}


.inputBorder {
    border: $black_input_border;
}


.inputError {
    border: $error_input_border;
}

.inputConfirm {
    border: $success_input_border;
}

