@import "@/styles/variables.module";

.inputBorder, .inputError, .inputConfirm {
    z-index: 1;
    position: absolute;
    
    box-sizing: border-box;
    
    background-color: $white_1;
    border-radius: 15px;
    
    top: 0;
    left: 0;
    transition: opacity .3s, background-color .5s ease;
    overflow: hidden;
    
    width: 100%;
    height: inherit;
}

.inputBorder {
    border: $black_input_border;
}


.inputError {
    border: $error_input_border;
}

.inputConfirm {
    border: $success_input_border;
}

