@import "@/styles/variables.module";

.inputWrapper {
	overflow: visible;

	position: relative;


	width: inherit;
	height: inherit;

	.inputBox {
		position: absolute;
		z-index: 3;

		width: 100%;
		height: 100%;

		.inputStyle {
			box-sizing: border-box;
			position: relative;

			height: inherit;
			width: inherit;

			padding: 0;
			border-width: 2px 25px;

			border-color: transparent;
			background-color: transparent;
			outline: none;
			transition: .5s ease;

			&[type="text"], &[type="password"], &[type="tel"] {
				font-family: inherit;
				font-weight: 500;
				letter-spacing: $letter_spacing;
			}

			input::-webkit-calendar-picker-indicator {
				display: none;
			}

			input[type="text"] {
				-moz-appearance: textfield;
			}

			input[type="text"]::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}
		}
	}

	.borderBox {
		position: relative;
		width: 100%;
		height: 100%;

		border-radius: 15px;
		overflow: hidden;
	}
}

.inputInactive {
	&[type="text"], &[type="password"], &[type="tel"] {
		color: rgba($black, $input_opacity);
	}

	&::placeholder {
		color: rgba($black, $input_opacity);
	}
}

.inputActive {
	&[type="text"], &[type="password"], &[type="tel"] {
		color: $black;
	}

	&::placeholder {
		color: $black;
	}
}
