@import "@/styles/variables.module.scss";


.header {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-rows: 1fr;
    
    @media screen and ($desktop1920) {
        grid-template-columns: 1fr 16.875rem;
    }
    
    .logoContainer {
        display: grid;
        grid-template-rows: 1fr;
        
        .logoWrapper {
            position: relative;
        }
        
        @media screen and ($desktop1920) {
            grid-template-columns: 4.6875rem 15.3125rem;;
            align-items: center;
            column-gap: 1.56rem;
            
            .logoWrapper {
                width: 1fr;
                height: 7.5rem;
            }
        }
    }
    
    .repairServiceContainer {
    
    }
}