@import "@/styles/variables.module.scss";

.fileWrapper {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    
    width: 100%;
    height: 100%;
    
    border-radius: 0.625rem;
    border: 2px solid $blue_dark;
    background-color: $white_1;
    
    user-select: none;
    
    .fileCover {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($white, .8);
        z-index: 1;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fileRemove {
            position: absolute;
            z-index: 1;
            padding: 3px;
            top: 0;
            right: 4px;
            cursor: pointer;
        }
    }
}