@import "@/styles/variables.module.scss";

.popupWrapper {

	border-radius: $border_radius;
	background-color: $white_1;
	overflow: hidden;

	@media screen and ($desktop1920) {
		padding: 2.5rem 4.38rem;
	}

	.popup {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: min-content 1fr min-content;
		row-gap: 2.5rem;

		.popupTitle {
			display: flex;
			justify-content: center;
		}
	}
}