@import "@/styles/variables.module.scss";

.textareaStyle {
    box-sizing: border-box;
    height: inherit;
    width: inherit;
    text-size-adjust: none;
    
    border-width: 0.94rem 1.56rem;
    
    border-color: transparent;
    background-color: transparent;
    outline: none;
    
    resize: none;
    
    &:not([rows]) {
        min-height: 0;
    }
}
