
.photoEditorBody {
	margin: 3.12rem 0 2.5rem 0;
	width: inherit;
	height: inherit;

	display: grid;
	grid-template-columns: 40rem 22.4375rem;
	grid-template-rows: 152px 2px 20.75rem 3.3125rem;
	grid-template-areas: "editor editor-controls" "editor separated-line" "editor file-list" "editor buttons";
	column-gap: 3.75rem;
	row-gap: 1.87rem;

	.editorGrid {
		grid-area: editor;
	}

	.editorControlsWrapper {
		grid-area: editor-controls;
		display: flex;
		flex-direction: column;
		row-gap: 1.25rem;

		.editorControls {
			display: grid;
			grid-template-columns: min-content 200px;
			grid-template-rows: repeat(2, 45px);
			column-gap: 1.56rem;
			row-gap: 1.25rem;

			.editorTitle {
				margin-top: 5px;
			}

			.scaleWrapper {
				.scaleSliderTicks {
					display: flex;
					position: relative;
					margin: 0 5px;

					span {
						position: absolute;
						transform: translateX(-50%);
						cursor: pointer;
						top: 8px;

						display: flex;
						justify-content: center;

						&:before {
							position: absolute;
							content: "";

							top: -8px;

							width: 1px;
							height: 5px;
							background: #d3d3d3;
						}
					}

					//justify-content: space-between;
					//padding: 0 5px;
				}
			}

			.rotateWrapper {
				.rotateSliderTicks {
					display: flex;
					justify-content: space-between;
					padding: 0 5px;

					.sliderTick {
						display: flex;
						justify-content: center;
						width: 1px;
						height: 5px;
						background: #d3d3d3;
						line-height: 30px;
						cursor: pointer;

						p {
							line-height: inherit;
						}
					}
				}
			}
		}

		.resetSettings {
			cursor: pointer;
			width: fit-content;
		}
	}

	.separatedLine {
		grid-area: separated-line;
		margin: 1.56px 0;
	}

	.fileListGrid {
		grid-area: file-list;
	}

	.photoEditorButtons {
		grid-area: buttons;
		display: grid;
		grid-template-columns: repeat(2, 10.3125rem);
		column-gap: 1.81rem;
		justify-content: center;
	}
}