@import "@/styles/variables.module.scss";

.editorBody {
	display: flex;
	flex-direction: column;
	border-radius: $border_radius;
	overflow: hidden;
	user-select: none;
	//row-gap: 1.87rem;

	.editorBackground {
		//width: 854px;
		//height: 480px;
		width: 640px;
		height: 640px;

		background-color: #0f0f0f;

		.editorWrapper {
			display: flex;
			height: inherit;
			align-items: center;

			//align-items: center;
			//justify-content: center;

			.reactCrop {
				& > div:first-child {
					overflow: hidden;
				}
			}
		}
	}
}