@import "@/styles/variables.module.scss";

.notificationBlock {
    // width: 100%;
    // height: 100%;

    // overflow: hidden;

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media screen and ($desktop1920), 
    screen and ($desktop1440_1919), 
    screen and ($desktop1280_1439) {
        position: absolute;
        bottom: 80px;
        right: 40px;
        z-index: 99;
    }

    @media screen and ($pad992_1279), 
    screen and ($phone375_639), 
    screen and ($pad640_991) {
        position: fixed;
        z-index: 99;
    }

    @media screen and ($pad992_1279) {
        bottom: 40px;
        right: 40px;
        // padding: 10px;
    }

    @media screen and ($pad640_991) {
        bottom: 30px;
        right: 30px;
    }

    @media screen and ($phone375_639) {
        top: 110px;
        left: 0;
        // bottom: 50px;
        align-items: center;
        padding: 0 15px; // Position center for elements with large width
        width: 100%;
    }

    .notification {
        border-radius: $border_radius;
        background-color: $white;
        user-select: none;
        cursor: pointer;

        // display: flex;
        // justify-content: space-between;
        
        display: grid;
        column-gap: 20px;
        
        @media screen and ($desktop1920), 
        screen and ($desktop1440_1919), 
        screen and ($desktop1280_1439) {
            padding: 14px 18px;
            grid-template-columns: 406px 15px;
        }
        
        @media screen and ($pad992_1279) {
            padding: 14px 16px;
            grid-template-columns: 352px 15px;
        }
        
        @media screen and ($pad640_991) {
            padding: 12px 16px;
            grid-template-columns: 322px 15px;
        }
        
        @media screen and ($phone375_639) {
            width: 100%;
            padding: 12px 16px;
            grid-template-columns: 1fr 15px;
        }
        
        // position: absolute;
        // top: 0;
        // left: 0;
        // @keyframes first {
        //     transform: translateX(20px);
        // }

        .notificationContent {
            max-width: 95%;
    
            @media screen and ($phone375_639) {
                max-width: 100%;
            }
        }

        .notificationClose {
            width: 15px !important;
            height: 15px !important;
        }
    }

    .notificationSuccess {
        border: $success_input_border;
    }

    .notificationWarning {
        border: $warning_input_border;
    }

    .notificationError {
        border: $error_input_border;
    }
}