@import "@/styles/variables.module.scss";

.notificationBlock {
    // width: 100%;
    // height: 100%;

    overflow: hidden;
    position: absolute;
    bottom: 80px;
    right: 40px;
    z-index: 99;

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .notification {
        padding: 14px 18px;
        border-radius: $border_radius;
        background-color: $white;
        user-select: none;
        max-width: 406px;

        // position: absolute;
        // top: 0;
        // left: 0;
        // @keyframes first {
        //     transform: translateX(20px);
        // }
    }

    .notificationSuccess {
        border: $success_input_border;
    }

    .notificationWarning {
        border: $warning_input_border;
    }

    .notificationError {
        border: $error_input_border;
    }
}