@import "@/styles/variables.module.scss";


.formBlockWrapper {
    display: flex;
    transition: width .5s ease;
    
    @media screen and ($phone375_639) {
        flex-direction: column;
        row-gap: 1.87rem;
    }

    @media screen and ($pad640_991) {
        display: grid;
        grid-template-columns: repeat(2, minmax(15.9375rem, 24rem)); //
    }
}

.formBlockPartOneWrapper {
    @media screen and ($desktop1920) {
        column-gap: 6.56rem;
    }
    
    @media screen and ($desktop1440_1919) {
        column-gap: 4.38rem;
    }
    
    @media screen and ($desktop1280_1439) {
        //column-gap: 2.31rem;
        //display: grid;
        //grid-template-columns: repeat(2, minmax(15.9375rem, 19rem));
        column-gap: 2.5rem;
    }
    
    @media screen and ($pad992_1279) {
        column-gap: 5.75rem;
    }
    
    @media screen and ($pad640_991) {
        column-gap: 4.81rem;
    }
}

.formBlockPartOneActiveWrapper {
    @media screen and ($desktop1920) {
        column-gap: 3.75rem;
    }
    
    @media screen and ($desktop1440_1919) {
        column-gap: 3.13rem;
    }
    
    @media screen and ($pad992_1279) {
        //column-gap: 5.57rem;
    }
    
    @media screen and ($pad640_991) {
        column-gap: 2.5rem;
    }
}

.formBlockPartTwoWrapper {
    @media screen and ($desktop1920), screen and ($desktop1440_1919) {
        column-gap: 3.75rem;
    }
    
    @media screen and ($desktop1280_1439) {
        flex-direction: column;
        
        & > div:first-child {
            grid-template-columns: 12.3125rem 11.9375rem;
            column-gap: 3.63rem;
        }
    }
    
    @media screen and ($pad992_1279) {
        column-gap: 3.88rem;
    }
    
    @media screen and ($pad640_991) {
        column-gap: 2.5rem;
    }
}