@import "@/styles/variables.module.scss";


.formBlockWrapper {
    display: flex;
    justify-content: space-between;
}

.formBlockPartOneWrapper {
    @media screen and ($desktop1920) {
        column-gap: 6.56rem;
    }
    
    @media screen and ($desktop1440_1919) {
        column-gap: 4.38rem; // 3.13
    }
}

.formBlockPartOneActiveWrapper {
    @media screen and ($desktop1920) {
        column-gap: 3.75rem;
    }
    
    @media screen and ($desktop1440_1919) {
    
    }
}

.formBlockPartTwoWrapper {
    @media screen and ($desktop1920), screen and ($desktop1440_1919) {
        column-gap: 3.75rem;
    }
}