@import "@/styles/variables.module";

.formFieldWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    overflow: hidden;
    
    @media screen and ($desktop1920) {
        row-gap: 0.938rem;
    }
}