@import "@/styles/variables.module";

.formFieldWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    @media screen and ($desktop1920) {
        row-gap: 0.94rem;
    }
}