@import "@/styles/variables.module.scss";

.deviceInputWrapper,
.nameInputWrapper,
.phoneNumberInputWrapper,
.numberPCInputWrapper,
.companyInputWrapper {
    height: 3.3125rem;
}

.deviceInputWrapper {
    @media screen and ($desktop1920) {
        width: 18.75rem;
    }
}

.nameInputWrapper {
    width: 13.125rem;
    
    @media screen and ($desktop1280_1439) {
        width: 12.3125rem;
    }
}

.phoneNumberInputWrapper {

}

.companyInputWrapper {
    width: 16.875rem;
}

.numberPCInputWrapper {
    
    width: auto;
    min-width: 2rem;
    
    input::placeholder {
        //letter-spacing: 3.6px;
    }
}