@import "@/styles/variables.module.scss";

.microphone {
    @media screen and ($desktop1920) {
        width: 21px;
        height: 20px;
        
    }
    
    @media screen and ($desktop1440_1919) {
        width: 1.1875rem;
        height: 1.125rem;
    }
}