@import "@/styles/variables.module.scss";

.hideLongTitleCover {
    width: inherit;
	white-space: nowrap;
	overflow: hidden;
    position: relative;

    &:before {
		content: "";
		position: absolute;
		width: 30px;
		height: 100%;
		top: 0;
		right: 0;

		background: linear-gradient(90deg, rgba($white, 0) 0%, var(--file-color) 75%)
		// background-color: var(--file-color)
	}
}