@import "@/styles/variables.module.scss";


.completeRequestWrapper {
    width: 100%;
    height: 100%;

    @media screen and ($phone375_639) {
        overflow: hidden;
        // height: 100dvh;
    }

    @media screen and ($pad640_991) {
        padding: 50px 0;
    }
}