@import  "@/styles/variables.module.scss";


.requestsListWrapper {
    height: 100%;
    display: grid;
    // flex-direction: column;
    grid-template-rows: min-content 1fr;
    row-gap: 25px;
}

.headTable {
    margin-bottom: 10px;
}

.headTableGrid, .headTable {
    display: grid;
    
    @media screen and ($desktop1920) {
        grid-template-columns: 8rem 14.4375rem 8.1875rem;
        padding: 0 25px;
    }
}
