// Colors
$green_dark: #5ba809;
$green_light: #78c724;
$blue_dark: #00608c;
$blue_light: #0088c7;
$red_dark: #bf2121;
$yellow: #f3c623;

$black: #151515;
$grey: #8a9bb3;
$white: #ffffff;
$white_1: #f2f6fa;
$cold_white: #d0d8e4;

// Media
$phone375_639: "(min-width: 375px) and (max-width: 639px)";
$phone550_639: "(min-width: 550px) and (max-width: 639px)";
$pad640_991: "(min-width: 640px) and (max-width: 991px)";
$pad992_1279: "(min-width: 992px) and (max-width: 1279px)";
$desktop1280_1439: "(min-width: 1280px) and (max-width: 1439px)";
$desktop1440_1919: "(min-width: 1440px) and (max-width: 1919px)";
$desktop1920: "(min-width: 1920px)";

// Backgrounds
$background_default: radial-gradient(188.48% 111.8% at 100% 100%, #d0f0ff 0%, $white 80.36%);
.background_default {
	// --background: #d0f0ff;
	background: $background_default;
}

$background_success: radial-gradient(198.52% 111.8% at 100% 100%, #e8ffcf 0%, $white_1 80.25%);
.background_success {
	background: $background_success;
}

$background_error: radial-gradient(197.36% 111.8% at 100% 100%, #ffd0d0 0%, $white_1 80%);
.background_error {
	background: $background_error;
}

$background_warning: radial-gradient(189.88% 110.61% at 84.19% 100%, #FFF4AC 0%, #F2F6FA 80.25%);
.background_warning {
	background: $background_warning;
}

$input_green_light_background: linear-gradient(0deg, rgba(120, 199, 36, 0.1) 0%, rgba(120, 199, 36, 0.1) 100%), #fff;

// Borders
$black_input_border: 2px solid rgba($black, 0.85);
$blue_input_border: 2px solid $blue_dark;
$black_input_border_inactive: 2px solid rgba($black, 0.5);
$grey_input_border: 2px solid $grey;
$error_input_border: 2px solid $red_dark;
$warning_input_border: 2px solid $yellow;
$success_input_border: 2px solid $green_dark;
$checkbox_border: 1px solid $blue_dark;
$border_radius: 0.9375rem;
$main_box_shadow: 3px 3px 5px 2px rgba(21, 21, 21, 0.15);

// Letter Spacing
$letter_spacing: 0.01875rem;

// Transition
$transition: 0.4s ease-in-out;

// Opacities
$input_opacity: 0.7;
