// Colors
$green_dark: #5BA809;
$blue_dark: #00608C;
$blue_light: #0088C7;
$red_dark: #BF2121;

$black: #151515;
$white: #FFFFFF;
$white_1: #F2F6FA;
$cold_white: #D0D8E4;

// Media
$phone375_639: '(min-width: 375px) and (max-width: 639px)';
$phone550_639: '(min-width: 550px) and (max-width: 639px)';
$pad640_991: '(min-width: 640px) and (max-width: 991px)';
$pad992_1279: '(min-width: 992px) and (max-width: 1279px)';
$desktop1280_1439: '(min-width: 1280px) and (max-width: 1439px)';
$desktop1440_1919: '(min-width: 1440px) and (max-width: 1919px)';
$desktop1920: '(min-width: 1920px)';

// Backgrounds
$background: var(--background, radial-gradient(188.48% 111.8% at 100% 100%, $cold_white 0%, $white_1 80.36%), $white);
$background_success: var(--background_success, radial-gradient(198.52% 111.8% at 100% 100%, #E8FFCF 0%, $white_1 80.25%), $white);
$background_error: var(--background_error, radial-gradient(197.36% 111.8% at 100% 100%, #FFD0D0 0%, $white_1 80%), $white);

// Borders
$black_input_border: 2px solid $black;
$checkbox_border: 1px solid $blue_dark;
