@import "@/styles/variables.module.scss";

.fileInputWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.94rem;
    
    .filesBlock {
        display: grid;
        @media screen and ($desktop1920) {
            grid-template-columns: 8.4375rem 16.88rem;
            grid-template-rows: 5.9375rem min-content;
            row-gap: 1.25rem;
        }
        
        .fileList {
            height: 100%;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
        
        .addFiles {
            grid-column: 1 / 2;
        }
    }
}

